[Desktop Entry]
Name=Hangups
Comment=Google Hangouts client for CLI
Exec=termite --class=Hangups -e "hangups --col-scheme solarized-dark"
Terminal=false
Type=Application
Categories=Application;
