[Desktop Entry]
Name=Hangups
Comment=Google Hangouts client for CLI
Path=/home/mpelikan/.pyenv/versions/hangups/bin
Exec=i3-sensible-terminal --class=Hangups ./hangups
Terminal=false
Type=Application
Categories=Application;
