xrandr --output DVI-D-0 --mode 1920x1080 --right-of DP-4

# Sensible keyboard autorepeat delay/speed
xset r rate 400 50
# Swap Esc and Caps Lock
setxkbmap -option "caps:swapescape"
# Adjust mouse sensitivity
xinput set-prop "pointer:Razer Razer DeathAdder 2013" "Coordinate Transformation Matrix" 1 0 0 0 1 0 0 0 0.5
# Need to load this before i3, since it uses this with sensible-terminal
export TERMINAL=kitty

# Put monitor in standby after 5 minutes, suspend/off/screensaver disabled as they are identical
xset +dpms dpms 300 0 0
xset s 0 0

compton &
copyq &
xss-lock --transfer-sleep-lock --notifier="notify-send --expire-time=30000 'LOCKING user inactive, locking soon'" -- i3lock -c 111111 -n &

feh --randomize --bg-fill ~/.wallpaper/*

if [ -z "$SSH_AUTH_SOCK" ] || [ -z "$SSH_AGENT_PID" ]; then
    eval $(ssh-agent)
fi
