# Sensible keyboard autorepeat delay/speed
xset r rate 400 50
# Sensible cursor acceleration/speed
xset m 5/3 0
# Swap Esc and Caps Lock
setxkbmap -option "caps:swapescape"
# Need to load this before i3, since it uses this with sensible-terminal
export TERMINAL=kitty

# Put monitor in standby after 5 minutes, suspend/off/screensaver disabled as they are identical
xset +dpms dpms 300 0 0
xset s 0 0

compton &
copyq &
xss-lock --transfer-sleep-lock --notifier="notify-send --expire-time=30000 'LOCKING user inactive, locking soon'" -- i3lock -c 111111 -n &

feh --randomize --bg-fill ~/.wallpaper/*

# Run all the VBox guest addition features
if hash VBoxClient-all 2>/dev/null; then
    VBoxClient-all
fi

if [ -z "$SSH_AUTH_SOCK" ] || [ -z "$SSH_AGENT_PID" ]; then
    eval $(ssh-agent)
fi
