# Sensible keyboard autorepeat delay/speed
xset r rate 200 40
# Sensible cursor acceleration/speed
xset m 5/3 0
# Monitor goes into standby after 20 minutes, does not turn suspend/turn off
xset dpms 1200 0 0
# Nobody needs a caps lock anyway, caps=ctrl
setxkbmap -option ctrl:nocaps
# Need to load this before i3, since it uses this with sensible-terminal
export TERMINAL=termite

# Run all the VBox guest addition features
if hash VBoxClient-all 2>/dev/null; then
    VBoxClient-all
fi

if [ -z "$SSH_AUTH_SOCK" ] || [ -z "$SSH_AGENT_PID" ]; then
    eval $(ssh-agent)
fi
